@import 'variables/colors';
@import 'variables/typography';
@import 'components/buttons';
@import 'components/alerts';
@import 'components/nav';
@import 'components/forms';
@import 'components/chat';
@import 'components/lists';
@import 'components/links';

body {
    font-family: $font-text;
    color: $color-text;
    background-color: $color-background;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

.content {
    padding: 15px;
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 8% 80% 8%;
    justify-items: start;
    height: 90%;
}

.content--auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: hidden;
}

.header {
    font-family: $font-title;
}

.header--small {
    font-size: 1.5em;
}

.header--big {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2em;
}

button:hover {
    cursor: pointer;
}

.text--big {
    font-size: 1.5em;
    margin: 20px 0px;
}

.text--xxl {
    font-size: 2.3em;
}

.content--index {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto;
    align-items: center;
    justify-items: center;
}

.countdowncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.happyBirthday {
    background-image: url(/img/birthday_pig.svg);
    background-size: cover;
    background-position: center;
}