$color-success: #339900;
$color-error: #cc3300;
$color-info: #ffcc00;

$color-background: #fffffe;
$color-text: #272343;
$color-highlight: #ffd803;
$color-secondary: #e3f6f5;
$color-tertiary: #bae8e8;

